{% extends 'myapp/base.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
    <div class="feautures">
        <h1> Публикации </h1>
        {% for el in news %}
            <div class="alert alert-warning">
                <h3>{{ el.title }}</h3>
                <p> {{ el.description }} </p>
                {% if el.image %}
                    <img src="{{ MEDIA_URL }}{{el.image.url}}" alt="photo"> 
                {% endif %}
                <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать статью</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}